*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    background-color: rgb(199, 165, 171);
}
h1{
    
font-family: 'Indie Flower', cursive;
font-size: 50px;
font-weight: bolder;
color:rgb(77, 50, 56);
text-decoration: underline;
display: flex;
justify-content: center;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}
.calculadora{
    width: 50%;
    height: 70%;
    background-color: rgb(163, 87, 110);
    border: 5px solid rgb(77, 50, 56);
    border-radius: 32px;

}
.pantalla{
    width: 90%;
    height: 30%;
    border: 5px solid rgb(77, 50, 56);
    border-radius: 32px;
    margin: 10px 10px 10px 29px;
    background-color: rgb(182, 149, 164);
    

}.botones{
    margin: 0 auto;
    width: 90%;
    cursor: pointer;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    gap: 0;
    border:  5px solid rgb(77, 50, 56);
    border-radius: 32px;
    
}
.dobleesp{
    width: 50%;
    height: 20%;
    padding: 1rem;
    font-size: 2.2rem;
    margin: 0%;
    border-top-left-radius: 32px;
}
.flechita{
    width: 25%;
    height: 20%;
    padding: 1rem;
    font-size: 2.2rem;
    margin: 0%;
    
}
.operador{
    width: 25%;
    height: 20%;
    padding: 1rem;
    font-size: 2.2rem;
    margin: 0%;
    
}
.numero{
    width: 25%;
    height: 20%;
    padding: 1rem;
    font-size: 2.2rem;
    margin: 0%;
    
}
.dobleoperador{
    width: 50%;
    height: 20%;
    padding: 1rem;
    font-size: 2.2rem;
    margin: 0%;
    
}

